.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@font-face {
font-family: Klinic;
src: url("font/KlinicSlabMedium.otf") format("opentype");
}

@font-face {
font-family: Klinic;
font-weight:bold;
src: url("font/KlinicSlabBold.otf") format("opentype");
}

@font-face {
font-family: Klinic;
font-style:italic;
src: url("font/KlinicSlabMediumIt.otf") format("opentype");
}

@font-face {
font-family: Dense;
src: url("font/Dense-Regular.otf") format("opentype");
}

@font-face {
font-family: Fabrica;
src: url("font/Fabrica.otf") format("opentype");
}

@font-face {
font-family: Nexa;
src: url("font/NexaLight.otf") format("opentype");
}

@font-face {
font-family: Nexa;
font-weight:bold;
src: url("font/NexaBold.otf") format("opentype");
}

@font-face {
font-family: Code;
src: url("font/CodeLight.otf") format("opentype");
}

@font-face {
font-family: Code;
font-weight:bold;
src: url("font/CodeBold.otf") format("opentype");
}

#canvas {
	width:400px; 
	/*
	width:2500px;
	height:1655px;
	*/
	margin:auto;
}
           
#map {
	width:2500px;
	height:1655px;
	position:absolute;
}

/**Search **/

#search {
	width:100%;
	margin:10px auto 10px;  
}   

#search-text {
	width:100%;
	height:30px;
	line-height:30px;
	font-size:20px;
	text-indent:8px;
}

#search-results {
	position: absolute;
	z-index: 1000;
	background: #fff;
	width: 400px;
	top: 50px;
	border: 1px solid #ccc;
}

#search-results li {
	padding:8px;
	font-family:Fabrica;
	font-size:18px;
}

#search-results li:hover {
	cursor:pointer;
}

#search-results li:nth-child(odd) {
	background:#eaeaea;
}

/**Tube **/ 

#map-viewport {
	width:100%;
	/*height:1655px;*/
	height:300px;
	overflow:hidden;
	position:relative;
	box-shadow:2px 2px 3px #ccc;
	border:1px solid #eaeaea;
	margin:0px auto 20px;
}

#Stations,
#StationsMap {
	font-family:Fabrica;
	font-size:11px;
	fill:#fff;
}

.label {
	color:#fff;
	fill:rgba(0,0,0,0.3);
}

.labelOn {
	color:#fff;
	fill:rgba(0,0,0,0.8);
}

#Stations text:hover {
	cursor:pointer;
}

.tube-number {
	font-family:Fabrica;
	font-size:11px;
	fill:#fff;
	font-weight:bold;
}

.lines {
	opacity:0.3;
}

/**List **/

#table {
	width:100%;
	margin:20px auto 20px;
}

.tube-lines{
	margin:0;
	padding:0;
	width:100%;
}

.tube-lines li {
	list-style:none;
	float:left;
	display:block;
	font-size:13px;
	font-family:Fabrica;
	width:100%;
	padding:3px;
}

.tube-lines li:nth-child(even){
	background:#eaeaea;
}

.tube-lines li.header {
	font-size:18px;
	font-weight:bold;
	line-height:30px;
	background:#fff;
	margin:2px 0 2px 0;
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc; 
} 

.tube-lines li .radial {
	width:30px;
	height:30px;
	margin-right:5px;
	float:left;
}

.tube-lines li .location {
	width:calc(100% - 90px);
	float:left;
	font-weight:bold;
	line-height:16px;
}

.tube-lines li .location span {
	font-size:12px;
	font-weight:normal;
}
              
.tube-lines li .time {
	width:50px;
	margin-left:5px;
	float:right;     
	font-size:16px;
	line-height:30px;
	text-align:right;
}

/*Radials*/

.C {
	fill : #ED3024;
}

.C_bk {
	stroke : #ED3024;
	fill : #fff;
}      

.C_line {
	stroke-width : 6;
	stroke : #ED3024;
	fill : none;
}

.H {
	fill : #F285A0
}

.H_bk {
	stroke : #F285A0;
	fill : #fff;
}

.H_line {
	stroke-width : 6;
	stroke : #F285A0;
	fill : none;	
}

.D {
	fill : #00843F;
}

.D_bk {
	stroke : #00843F;
	fill : #fff;
}

.D_line {
	stroke-width : 6;
	stroke : #00843F;
	fill : none;	
}

.Ci {
	fill : #FFD200;
}

.Ci_bk {
	stroke : #FFD200;
	fill : #fff;
}

.Ci_line {
	stroke-width : 6;
	stroke : #FFD200;
	fill : none;	
}

.N {
	fill : #231F20;
}

.N_bk {
	stroke : #231F20;
	fill : #fff;
}

.N_line {
	stroke-width : 6;
	stroke : #231F20;
	fill : none;	
}

.B {
	fill : #AF6010;
}

.B_bk {
	stroke : #AF6010;
	fill : #fff;
}

.B_line {
	stroke-width : 6;
	stroke : #AF6010;
	fill : none;	
}

.M {
	fill : #96005E;
}

.M_bk {
	stroke : #96005E;
	fill : #fff;
}

.M_line {
	stroke-width : 6;
	stroke : #96005E;
	fill : none;	
}

.P {
	fill : #1C3E93;
}

.P_bk {
	stroke : #1C3E93;
	fill : #fff;
}

.P_line {
	stroke-width : 6;
	stroke : #1C3E93;
	fill : none;	
}

.V {
	fill : #009CDB;
}

.V_bk {
	stroke : #009CDB;
	fill : #fff;
}

.V_line {
	stroke-width : 6;
	stroke : #009CDB;
	fill : none;	
}

.EL {
	fill : #F7931E;
}

.EL_bk {
	stroke : #F7931E;
	fill : #fff;
}

.EL_line {
	stroke-width : 6;
	stroke : #F7931E;
	fill : none;	
}

.DLR {
	fill : #00A99D;
}

.DLR_bk {
	stroke : #00A99D;
	fill : #fff;
}

.DLR_line {
	stroke-width : 6;
	stroke : #00A99D;
	fill : none;	
}

.J {
	fill : #939BA0;
}

.J_bk {
	stroke : #939BA0;
	fill : #fff;
}

.J_line {
	stroke-width : 6;
	stroke : #939BA0;
	fill : none;	
}

.lines-path path{
	opacity:0;
}



