body {
	background:#eaeaea;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	height:100%;
}

::-webkit-scrollbar { 
    display: none; 
}

::selection{
	color:none;
	background:none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@font-face {
font-family: Fabrica;
src: url("font/Fabrica.otf") format("opentype");
}


#canvas {
	width:100%;
	height:100%; 
	position:relative;
	margin:auto;
	background:#fff;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){ 
	#canvas {
		width:420px;
	}
}
           
#map {
	width:2500px;
	height:1655px;
	position:absolute;
}

/**Search **/

#search {
	width: 400px;
	position: absolute;
	top: 15px;
	font-family: Fabrica;
	left: 15px;
}   

#search-text {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	text-indent: 58px;
	background: rgba(0,0,0,0.7);
	border: none;
	text-transform: uppercase;
	color: #fff;
	padding:0;
}

#search-results {
	position: absolute;
	z-index: 1000;
	background: transparent;
	width: 400px;
	height:200px;
	overflow-y:auto;
	overflow-x:hidden;
	top: 50px;
}

#search-results li {
	font-family:Fabrica;
	font-size:18px;
	line-height:34px; 
	position:relative; 
	text-indent:40px;
	color:#fff;
}

#search-results li:hover {
	cursor:pointer;
}

#search-results li:nth-child(odd) {
	background:rgba(0, 0, 0, 0.8);
}

#search-results li:nth-child(even) {
	background:rgba(0, 0, 0, 0.6);
}

#search-results li span,
#search .selected {
	color:#fff;
	font-size:16px;
	display:block;
	position:absolute;
	top:1px;
	left:0px;
	line-height:34px;
	width:28px;
	height:32px;
	text-indent:8px;
}
#search .selected {
	top: 0px;
	left: 0px;
	width:50px;
	height:50px;
	font-size:18px;
	line-height: 54px;
	text-indent:20px;
	color:rgba(255,255,255,0.8); 
}

/**Tube **/ 

#map-viewport {
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
}

#Stations,
#StationsMap {
	font-family:Fabrica;
	font-size:11px;
	fill:#fff;
}

.label {
	color:#fff;
	fill:rgba(0,0,0,0.3);
}

.labelOn {
	color:#fff;
	fill:rgba(0,0,0,0.8);
}

#Stations text:hover {
	cursor:pointer;
}

.lines {
	/*opacity:0.3;*/
}

/**List **/

#table {
	width:384px;
	height:30%;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	padding: 5px 5px 0 5px;
	bottom: 20px;
	left: 15px;
	box-shadow: 2px 2px 3px #666;
}

.direction-select {
	margin-bottom:5px;
}

.direction-select li {
	width:188px;
	display:block;
	float:left;
	font-family:Fabrica;
	text-align:center;
	padding:10px 0 10px 0;
	background:#fff;
	font-size:13px;
	text-transform:uppercase;
	font-weight:bold;
	opacity:0.7;
}

.direction-select li:last-child{
	float:right;
}

.direction-select li:hover{
	cursor:pointer;
}

.tube-lines{
	margin:0;
	padding:0;
	width:100%;
	height:calc(100% - 40px);
	overflow-y:scroll;
	overflow-x:hidden;
} 

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
(max-device-width : 480px){
	.tube-lines{ 
		height:200px;
	}
}

.tube-lines li {
	list-style:none;
	float:left;
	display:block;
	font-size:13px;
	font-family:Fabrica;
   	width: 384px;
	margin-bottom:5px; 
	position:relative;
	padding-bottom:5px;
	display:none;
}

.tube-lines li.header {
	font-size:18px;
	font-weight:bold;
	line-height:30px;
	background:#fff;
	margin:2px 0 2px 0;
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc; 
} 

.tube-lines li .radial {
	width:30px;
	height:30px;
	margin:5px;
	float:left;
}

.tube-lines li .location {
	width:270px;
	float:left;
	margin:5px;
	font-size:13px;
	font-weight:bold;
	line-height:17px;
	color:#fff;       
	height:34px;
	overflow: hidden;
}

.tube-lines li .location .limit {
	font-size:13px; 
	width:250px; 
	height:13px;
	font-weight:bold;
	opacity:1;
	display:inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.tube-lines li .location span {
	font-size:13px;
	font-weight:normal;
	opacity:0.7;
}
        
.tube-lines li .time {
	width:50px;
	margin:5px;
	float:right;     
	font-size:16px;
	line-height:30px;
	text-align:right;
	color:#fff;
}

.tube-lines li .progress {
	width:380px;
	height:3px;
	position:absolute;
	bottom:0;
}

.Ci-table li .location,
.Ci-table li .time {
	color : #0019AB;
} 

.tube-lines li .progress svg {
	position: absolute;
	top: 0;
	left: 0;
}


/*Radials*/

.perc-value {
	fill:#fff;
	font-size:10px;
}

.radial path {
	fill:#fff;
}

rect.progress-bk {
	fill:#fff;
}

.tube-number {
	font-family:Fabrica;
	font-size:11px;
	fill:#fff;
	font-weight:bold;
}

.lines-path path{
	opacity:0;
}

.Ci-table .perc-value,
.Ci-table .radial path,
.Ci-table rect.progress-bk,
#Circle-path .tube-number {
	fill:#0019AB;
}

.C {
	fill : #ED3024;
}

.C_bk {
	fill : #ED3024;
	stroke : #fff;
	stroke-width:2;
}

.C_line {
	stroke-width : 6;
	stroke : #ED3024;
	fill : none;	
}

.C-icon {
	background: #ED3024;
}

.C-table li,
.C-table li .indicator {
	background: #ED3024;
}

.C-direction .selected{
	background:#ED3024;
	color:#fff;
	opacity:1;
}

.H {
	fill : #F285A0
}

.H_bk {
	fill : #F285A0;
	stroke : #fff;
	stroke-width : 2;
}

.H_line {
	stroke-width : 6;
	stroke : #F285A0;
	fill : none;	
}

.H-icon {
	background: #F285A0;
}

.H-table li,
.H-table li .indicator {
	background: #F285A0;
}

.H-direction .selected{
	background:#F285A0;
	color:#fff;
	opacity:1;
}

.D {
	fill : #00843F;
}

.D_bk {
	stroke : #fff;
	fill : #00843F;
	stroke-width : 2; 
}

.D_line {
	stroke-width : 6;
	stroke : #00843F;
	fill : none;	
} 

.D-icon {
	background: #00843F;
}

.D-table li,
.D-table li .indicator {
	background: #00843F;
}

.D-direction .selected{
	background:#00843F;
	color:#fff;
	opacity:1;
}

.Ci {
	fill : #FFD200;
}

.Ci_bk {
	fill : #FFD200;
	stroke : #0019AB;
	stroke-width : 2;
}

.Ci_line {
	stroke-width : 6;
	stroke : #FFD200;
	fill : none;	
}

.Ci-icon {
	background: #FFD200;
} 

.Ci-table li,
.Ci-table li .indicator {
	background: #FFD200;
}

.Ci-direction .selected{
	background:#FFD200;
	color:#0019AB;
	opacity:1;
}

.N {
	fill : #231F20;
}

.N_bk {
	stroke : #231F20;
	fill : #fff;
}

.N_line {
	stroke-width : 6;
	stroke : #231F20;
	fill : none;	
}

.N-icon {
	background: #231F20;
}

.B {
	fill : #AF6010;
}

.B_bk {
	fill : #AF6010;
	stroke : #fff;
	stroke-width : 2; 
}

.B_line {
	stroke-width : 6;
	stroke : #AF6010;
	fill : none;	
}

.B-icon {
	background: #AF6010;
}

.B-table li,
.B-table li .indicator {
	background: #AF6010;
}

.B-direction .selected{
	background:#AF6010;
	color:#fff;
	opacity:1;
}

.M {
	fill : #96005E;
}

.M_bk {
	stroke : #96005E;
	fill : #fff;
}

.M_line {
	stroke-width : 6;
	stroke : #96005E;
	fill : none;	
}

.M-icon {
	background: #96005E;
}

.P {
	fill : #1C3E93;
}

.P_bk {
	stroke : #1C3E93;
	fill : #fff;
}

.P_line {
	stroke-width : 6;
	stroke : #1C3E93;
	fill : none;	
}

.P-icon {
	background: #1C3E93;
}

.V {
	fill : #009CDB;
}

.V.anti {
	fill : #fff;
}

.V_bk {
	fill : #009CDB;
	stroke : #fff;
	stroke-width:2;
}

.V_bk.anti {
	fill : #fff;
	stroke : #009CDB;
	stroke-width:2;
}

.V_line {
	stroke-width : 6;
	stroke : #009CDB;
	fill : none;	
}

.V-icon {
	background: #009CDB;
}

.V-table li,
.V-table li .indicator {
	background: #009CDB;
}

.V-direction .selected{
	background:#009CDB;
	color:#fff;
	opacity:1;
}

.EL {
	fill : #F7931E;
}

.EL_bk {
	stroke : #F7931E;
	fill : #fff;
}

.EL_line {
	stroke-width : 6;
	stroke : #F7931E;
	fill : none;	
}

.EL-icon {
	background: #F7931E;
}

.DLR {
	fill : #00A99D;
}

.DLR_bk {
	stroke : #00A99D;
	fill : #fff;
}

.DLR_line {
	stroke-width : 6;
	stroke : #00A99D;
	fill : none;	
}

.DLR-icon {
	background: #00A99D;
}

.J {
	fill : #939BA0;
}

.J_bk {
	fill : #939BA0;
	stroke : #fff;
	stroke-width : 2;
}

.J_line {
	stroke-width : 6;
	stroke : #939BA0;
	fill : none;	
}

.J-icon {
	background: #939BA0;
}

.J-table li,
.J-table li .indicator {
	background: #939BA0;
}

.J-direction .selected{
	background:#939BA0;
	color:#fff;
	opacity:1;
}



